In [15]:
'2' != 2

True

In [16]:
 1 < 2 and 2 < 3

True

In [9]:
1 < 2 < 3

True

In [13]:
not 1 == 1

False

In [105]:
not 400 > 5000

True

In [ ]:
# for, while, if

In [22]:
hungry = False

if hungry:
    print('feed me')
else: 
    print('I\'m full')

I'm full

In [26]:
loc = 'Game'

if loc == 'Auto Shop':
    print('cars')
elif loc == 'Bank':
    print("money is cool")
elif loc == 'store':
    print('get groceries')
else:
    print("I do not know much")

I do not know much

In [53]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    if item_name > 1:
        print(item_name, 'things')
    else:
       print(item_name, 'thing')

1 thing
2 things
3 things

In [57]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else: 
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [62]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum, f' added {num}')

1  added 1
3  added 2
6  added 3
10  added 4
15  added 5
21  added 6
28  added 7
36  added 8
45  added 9
55  added 10

In [88]:
#doesn't work - see list comprehensions
my_list2 = []
while my_list2:
    i = 0
    i+= 1
    if i > 20:
        my_list2.append(i)
print(my_list2)

[]

In [63]:
tup = (1,2,3)

for _ in tup:
    print(_)

1
2
3

In [65]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [67]:
# tuple unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [68]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(b)

2
5
8

In [70]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [76]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [74]:
d = {'k1':1, 'k2':2, 'k3':3}
for value in d.values():
    print(value)

1
2
3

In [82]:
x = 0
while x <= 5:
    print(f'the current value of x is {x}')
    x += 1
else: 
    print('x is not less than or equal to 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
the current value of x is 5
x is not less than or equal to 5

In [102]:
# break, continue, pass
# break breaks out of current closest enclosing loop
# continue goes to top of the closest enclosing loop
# pass does nothing at all

x = [1,2,3]
for item in x:
    break
    print('im inside for') #this gets ignored
print('end of script')

end of script

In [103]:
x = [1,2,3]
for item in x:
    pass #without this, syntax error
print('end of script')

end of script

In [96]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [97]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [104]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [110]:
mylist = [1,2,3]
for num in range(0,11,2): #, start, end, step size. range is all the way up to but not including end number
    print(num)

0
2
4
6
8
10

In [112]:
list(range(0,11,2)) #number generator, more efficient way of generating numbers instead of having list stored in memory

[0, 2, 4, 6, 8, 10]

In [114]:
# different ways to enumerate
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [21]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [120]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [121]:
word = 'abcde'
for index, letter in enumerate(word): #enumerate prints in tuples, this is unpacking those tuples
    print(index, letter)
    #print(letter)
    #print('\n')

0 a
1 b
2 c
3 d
4 e

In [130]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100, 200, 300]
for item in zip(mylist1, mylist2, mylist3): # will only zip as fast as the shortest list
    print(item)

print(list(zip(mylist1, mylist2)))

for a,b,c in zip(mylist1, mylist2, mylist3): # results of only 1 list from zip
    print(b)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
[(1, 'a'), (2, 'b'), (3, 'c')]
a
b
c

In [131]:
'x' in [1,2,3]

False

In [132]:
'x' in ['x', 'y', 'z']

True

In [133]:
'a' in 'a world'

True

In [134]:
'mykey' in {'mykey':345}

True

In [137]:
d = {'mykey':345}
345 in d.values()

True

In [138]:
mylist = [10,20,30,40,50]
min(mylist)

10

In [139]:
max(mylist)

50

In [144]:
from random import shuffle
shuffle(mylist) # var = shuffle(var) assigns no value as shuffle does not return anything
mylist = mylist #can assign shuffled value this way
mylist

[20, 40, 50, 30, 10]

In [12]:
from random import randint

In [8]:
result = int(input('Enter a number here: '))

In [9]:
type(result)

int

In [7]:
float(result)

10.0

In [13]:
mynum = randint(0,100)

In [14]:
mynum

23

In [15]:
#list comprehensions -- quickly create a list - for statement + append
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [17]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [18]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [20]:
mylist = [num**2 for num in range(0, 11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
mylist = [x**2 for x in range (0, 11) if x % 2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [27]:
celcius = [0, 10, 20, 34.5]
farenheit = [( (9/5)*temp + 32) for temp in celcius]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [28]:
farenheit = []
for temp in celcius:
    farenheit.append((9/5)*temp + 32)
farenheit

[32.0, 50.0, 68.0, 94.1]

In [38]:
# needs work
farenheit = [((9/5)*temp + 32) for temp in celcius]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [35]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [37]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]