In [1]:
#section 3

In [7]:
1+1

2

In [8]:
print("hello")

hello

In [10]:
7 % 4

3

In [1]:

0.1 + 0.2 - 0.3

5.551115123125783e-17

In [5]:
a = 10
print(type(a))
a= 10.1
type(a)

<class 'int'>

float

In [7]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

10.0

In [36]:
imdoing = "\"I\'m \"going\" \n\'on\' a run\""
print(imdoing)
print(len(imdoing))
print(imdoing[1])
print(imdoing[-4:-1])
print(imdoing[12:])
print(imdoing[2:15:2]) #step-size 2; :: captures whole string. Start 2 stop 15, step 2
print(imdoing[::-1])
imdoing[3]
"hello"[2]

"I'm "going"
'on' a run"
25
I
run

'on' a run"
' gig '
"nur a 'no'
 "gniog" m'I"

'l'

In [41]:
name = "Sam"
last_letters = name[1:]
last_letters #'am'
last_letters = 'P' + last_letters #concatenate
print(last_letters)
last_letters * 10

Pam

'PamPamPamPamPamPamPamPamPamPam'

In [51]:
x = 'Hello World'
# x = x.upper() updates variable
print(x.upper())
print(x.split())
print(x.split('l'))

HELLO WORLD
['Hello', 'World']
['He', '', 'o Wor', 'd']

In [89]:
print('this is a string {}'.format('INSERTED'))
print('the {2} {1} {0}'.format('fox', 'brown', 'quick'))
print('the {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

result = 100/1.1
print("the result was {r:1.3f}".format(r=result)) #{value:width.precision f}
name = "Andrew"
age = 31
print(f'{name} is {age} years old')
print('{n} is {a} years old.'.format(n=name,a=age))
print('this is another %s' %'statement') # placeholders; string formatting operator

this is a string INSERTED
the quick brown fox
the quick brown fox
the result was 90.909
Andrew is 31 years old
Andrew is 31 years old.
this is another statement

In [148]:
my_list = ['STRING',100,22.2]
print("length =", len(my_list))
print(my_list[1:])
another_list = ["four","five"]
new_list = my_list + another_list
print(new_list)
new_list[0] = "string2" #overwrites list index 0
print(new_list)
new_list.append('six')
new_list[0] = "string?"
print(new_list)
new_item = new_list.pop(0)
print(new_list, "popped item:", new_item)

length = 3
[100, 22.2]
['STRING', 100, 22.2, 'four', 'five']
['string2', 100, 22.2, 'four', 'five']
['string?', 100, 22.2, 'four', 'five', 'six']
[100, 22.2, 'four', 'five', 'six'] popped item: string?

In [107]:
num_list = [2,56,786,3,55,6,77,6,1,21,4]
num_list.sort()

In [111]:
my_sorted_list = num_list
my_sorted_list

[1, 2, 3, 4, 6, 6, 21, 55, 56, 77, 786]

In [145]:
my_sorted_list.reverse()
my_sorted_list

[1, 2, 3, 4, 6, 6, 21, 55, 56, 77, 786]

In [144]:
#dictionaries 
mydict = {"k1":123, "k2": "string", "k3":{'insidekey':'dict inside dict', 'secondinsidekey':'another value'}, "k4":['a','b','c','d']}
print(mydict['k1'])
print(mydict["k3"]['secondinsidekey'])
print(mydict["k4"][1].upper())
my_list = mydict["k4"]
print(my_list)
mydict["k5"] = 200
print(mydict.keys())
print(mydict.values())
print(mydict.items())
second_dictionary = {1:["a","b","c",], 2:["d", "e", "f"] }
print(second_dictionary.items())
print("line break ----")
for key, value in mydict.items():
    print(key, value) # orderedDict subclass for ordered dictionary

123
another value
B
['a', 'b', 'c', 'd']
dict_keys(['k1', 'k2', 'k3', 'k4', 'k5'])
dict_values([123, 'string', {'insidekey': 'dict inside dict', 'secondinsidekey': 'another value'}, ['a', 'b', 'c', 'd'], 200])
dict_items([('k1', 123), ('k2', 'string'), ('k3', {'insidekey': 'dict inside dict', 'secondinsidekey': 'another value'}), ('k4', ['a', 'b', 'c', 'd']), ('k5', 200)])
dict_items([(1, ['a', 'b', 'c']), (2, ['d', 'e', 'f'])])
line break ----
k1 123
k2 string
k3 {'insidekey': 'dict inside dict', 'secondinsidekey': 'another value'}
k4 ['a', 'b', 'c', 'd']
k5 200

In [163]:
#tuples - immutable list 

t = (1,2,"three")
mylist = [1,2,3]
print(type(t))
print(type(mylist))
print(len(t))
t[1]

t = ('a', 'a', 'a', 'b')
print(t)
print(t.count('a'))
print(t.index('b'))

<class 'tuple'>
<class 'list'>
3
('a', 'a', 'a', 'b')
3
3

[1, 2, 3]

In [177]:
#sets - unordered collection of unique elements 
myset = set()
myset.add(1)
myset.add(2)
print(myset)

t = ('a', 'a', 'a', 'b')
s = set(t)
print(s)

{'a', 'b'}

In [ ]:
#bool
# True
# False
# None

In [187]:

%%writefile myfile.txt
# I/O with basic files in Python. Cannot have comment on first line. 
this is a text file 
this is the second line

Writing myfile.txt

In [224]:
# reading files
myfile = open('myfile.txt')
myfile.read()
myfile.seek(0)
contents = myfile.read()
myfile.seek(0)
contents2 = myfile.readlines()
print(contents)
print(contents2)

contents = None

# I/O with basic files in Python
this is a text file
this is the second line

['# I/O with basic files in Python \n', 'this is a text file \n', 'this is the second line\n']

In [239]:
# myfile.close() - closing is obsolete if we open using:
with open('myfile.txt', mode='r') as my_new_file:
    contents = my_new_file.readlines()

with open('brandnewfile.txt', mode='a') as f: #appends / creates new
    f.write('\ntest')

with open('brandnewfile.txt', mode='w') as f: # overwrites
    f.write('\nanother test')

with open('brandnewfile.txt', mode='r') as f: #reads without having to scan
    print(f.read())

f = open('testfile.txt', 'w')
f.write('some randomness')
f.close()

another test

In [233]:
contents

['# I/O with basic files in Python \n',
 'this is a text file \n',
 'this is the second line\n']

In [251]:
#random challenge from https://projecteuler.net/ (id # 1) (technically correct)
a = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        a = a + i
print(a)

233168

In [252]:
#random challenge from https://projecteuler.net/ (id # 1) (this is the formal solution)
def compute():
	ans = sum(x for x in range(1000) if (x % 3 == 0 or x % 5 == 0))
	return str(ans)


if __name__ == "__main__":
	print(compute())

233168